@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

.main {
    background-image: url("Assets/img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69 ;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    color: red;
    width: 144px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}



.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child{
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
}

.hero> :nth-child(2){
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}
.hero> :nth-child(3){
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.seperation{
    height: 7px;
    background-color: rgb(94, 94, 94);
}

.btn{
    padding: 3px 8px;
    font-weight:400;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255,255, 0.3);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn svg{
    display: inline-flex;
    height:16px;
    width: 16px;
    margin-right:5px;
    margin-bottom: -2px;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 7px 100px 7px 14px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(242, 238, 238, 0.7);
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}
.btn-red-sm{
    background-color: red;
    color: white;

}

.first{
    display: flex;
    max-width: 70vw;
    margin: 7px;
    color: white;
    justify-content: center;
    align-items: center;
    padding-left: 80px;  
}

.secimg{
    position: relative;
}
.secimg img{
    top: 7px;
    width: 30vw;
    max-width: 200%;
    position: relative;
    z-index: 10;
    aspect-ratio: attr(data-aspect-ratio);
   
}

.secimg video{
    position: absolute;
    top: 32px;
    left: 52px;
    width: 117%; /* Matches the image width */
  aspect-ratio: var(--image-aspect-ratio, 4 / 3);
}

section.first >div{
    display: flex;
    flex-direction: column;
}
section.first >div :first-child{
    font-size: 30px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 20px;
}